In [8]:
import pandas as pd
import regex

In [9]:
df = pd.read_excel('../customer_call/customer-call-list.xlsx')

df.head(3)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True

In [11]:
"""
Cell generated by Data Wrangler.
"""
import pandas as pd

def clean_data(df):
    # Drop column: 'Not_Useful_Column'
    df = df.drop(columns=['Not_Useful_Column'])
    # Drop duplicate rows across all columns
    df = df.drop_duplicates()
    # Remove leading and trailing whitespace in column: 'Last_Name'
    df['Last_Name'] = df['Last_Name'].str.strip()
    # Remove leading and trailing whitespace in column: 'Last_Name'
    df['Last_Name'] = df['Last_Name'].str.strip()
    # Derive column 'derivedCol' from column: 'Last_Name'
    # Transform based on the following examples:
    #    Last_Name    Output
    # 1: "Baggins" => "Baggins"
    df.insert(3, "derivedCol", df["Last_Name"])
    # Drop column: 'Last_Name'
    df = df.drop(columns=['Last_Name'])
    # Rename column 'derivedCol' to 'Last_Name'
    df = df.rename(columns={'derivedCol': 'Last_Name'})
    df['Last_Name'] = df['Last_Name'].str.strip('./_')
    # Change column type to string for column: 'Phone_Number'
    df = df.astype({'Phone_Number': 'string'})
    # Change column type to string for column: 'Phone_Number'
    df = df.astype({'Phone_Number': 'string'})
    # Remove leading and trailing whitespace in column: 'Phone_Number'
    df['Phone_Number'] = df['Phone_Number'].str.strip()
    # Derive column 'derivedCol' from column: 'Phone_Number'
    # Transform based on the following examples:
    #    Phone_Number      Output
    # 1: "123-545-5421" => "123-545-5421"
    # 2: "123/643/9775" => "123-643-9775"
    df.insert(4, "derivedCol", df["Phone_Number"].str[:3] + "-" + df["Phone_Number"].str[4:7] + "-" + df["Phone_Number"].str[-4:])
    # Drop column: 'Phone_Number'
    df = df.drop(columns=['Phone_Number'])
    # Rename column 'derivedCol' to 'Phone_Number'
    df = df.rename(columns={'derivedCol': 'Phone_Number'})
    # Split text using regex ',' in column: 'Address'
    loc_0 = df.columns.get_loc('Address')
    df_split = df['Address'].str.split(pat=',', expand=True).add_prefix('Address_')
    df = pd.concat([df.iloc[:, :loc_0], df_split, df.iloc[:, loc_0:]], axis=1)
    df = df.drop(columns=['Address'])
    # Rename column 'Address_1' to 'State'
    df = df.rename(columns={'Address_1': 'State'})
    # Rename column 'Address_2' to 'Zip_Code'
    df = df.rename(columns={'Address_2': 'Zip_Code'})
    # Rename column 'Address_0' to 'Address'
    df = df.rename(columns={'Address_0': 'Address'})
    # Rename column 'Address' to 'Street_Address'
    df = df.rename(columns={'Address': 'Street_Address'})
    # Replace all instances of "Yes" with "Y" in columns: 'Do_Not_Contact', 'Paying Customer'
    df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace("Yes", "Y", case=False, regex=False)
    df['Paying Customer'] = df['Paying Customer'].str.replace("Yes", "Y", case=False, regex=False)
    # Replace all instances of "No" with "N" in columns: 'Paying Customer', 'Do_Not_Contact'
    df['Paying Customer'] = df['Paying Customer'].str.replace("No", "N", case=False, regex=False)
    df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace("No", "N", case=False, regex=False)
    # Replace missing values with "" in columns: 'First_Name', 'Last_Name' and 5 other columns
    df = df.fillna({'First_Name': "", 'Last_Name': "", 'Phone_Number': "", 'State': "", 'Zip_Code': "", 'Paying Customer': "", 'Do_Not_Contact': ""})
    # Replace all instances of "N/a" with "" in column: 'Paying Customer'
    df['Paying Customer'] = df['Paying Customer'].str.replace("N/a", "", case=False, regex=False)
    # Replace all instances of "N/a" with "" in column: 'Street_Address'
    df['Street_Address'] = df['Street_Address'].str.replace("N/a", "", case=False, regex=False)
    # Replace all instances of "N/a--N/a" with "" in column: 'Phone_Number'
    df['Phone_Number'] = df['Phone_Number'].str.replace("N/a--N/a", "", case=False, regex=False)
    # Replace missing values with "Blank" in columns: 'Last_Name', 'Phone_Number' and 5 other columns
    df = df.fillna({'Last_Name': "Blank", 'Phone_Number': "Blank", 'Street_Address': "Blank", 'State': "Blank", 'Zip_Code': "Blank", 'Paying Customer': "Blank", 'Do_Not_Contact': "Blank"})
    return df

df_clean = clean_data(df.copy())
df_clean.head()

,CustomerID,First_Name,Last_Name,Phone_Number,Street_Address,State,Zip_Code,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,123 Shire Lane,Shire,,Y,N
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,,,N,Y
2,1003,Walter,White,706-950-0392,298 Drugs Driveway,,,N,
3,1004,Dwight,Schrute,123-543-2345,980 Paper Avenue,Pennsylvania,18503,Y,Y
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,,,Y,N